.main {
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.wrapper {
    width: 70%;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 30px;
}

.left_col {
    display: flex;
    flex-direction: column;
}

.status_wrapper {
    width: 100%;
    height: 120px;
    background: #161616;
    box-shadow: 2px 2px 4px 0.1px rgba(0, 0, 0, 20);
    padding: 10px;
    padding-right: 0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
}

.status_wrapper::-webkit-scrollbar {
    display: none;
}

.status_card {
    flex: 0 0 auto;
    width: 80px;
    max-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.story_btn_wrapper {
    display: flex;
    margin-left: -15px;
    cursor: pointer;
}

.story_btn_wrapper .icon {
    margin-bottom: 0;
    margin-top: 5px;
    margin-right: 5px;
}

.story_btn_wrapper .text_btn {
    color: white;
    font-size: 12px;
    margin-top: 5px;
}

.profile_picture {
    margin-top: 5px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
}

.profile_picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: linear-gradient(to right, #44d7b6, #B620E0) border-box;
    border-radius: 50em;
    border: 3px solid transparent;
}

.username {
    width: 100%;
    overflow: hidden;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: white;
    cursor: pointer;
}

.post {
    width: 100%;
    height: 100%;
    background: #161616;
    box-shadow: 2px 2px 4px 0.1px rgba(0, 0, 0, 20);
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px;
}

.info {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.info .username {
    width: auto;
    font-weight: bold;
    font-size: 14px;
    color: white;
    margin-left: 10px;
}

.info .options {
    height: 10px;
    cursor: pointer;
}

.info .user {
    display: flex;
    align-items: center;
}

.info .profile_picture {
    width: 50px;
    height: 50px;
    padding: 0;
    background: none;
}

.info .profile_picture img {
    border: none;
}

.post_image {
    margin-left: 10%;
    width: 80%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
}

.fas {
    color: white;
}

.post_content {
    position: relative;
    width: 100%;
    padding: 20px;
}

.icons_wrap {
    display: flex;
    justify-content: space-between;
}

.reaction_wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: -20px;
    align-items: center;
}

.reaction_wrapper .icon {
    height: 25px;
    margin: 0;
    margin-right: 20px;
}

.people_count {
    color: white;
    margin-bottom: 0;
    margin-left: 0;
}

.post_location {
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    cursor: pointer;
}

.likes {
    font-weight: bold;
    color: white;
}

.description {
    margin: 10px 0;
    font-size: 14px;
    line-height: 20px;
    color: white;
}

.description span {
    font-weight: bold;
    margin-right: 10px;
}

.post_time {
    color: white;
    font-size: 12px;
}

.btn_wrapper {
    display: flex;
}

.ticket_btn_outline {
    background: linear-gradient(to right, #44D7B6, #B620E0);
    border: none;
    border-radius: 30px;
    padding: 2px;
}

.ticket_btn {
    background: #161616;
    box-shadow: 0 5px 15px line;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border: none;
    border-radius: 30px;
}

.comment_wrapper {
    width: 100%;
    height: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment_wrapper .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.comment_box {
    width: 80%;
    height: 30px;
    border: none;
    outline: none;
    font-size: 14px;
    background: #161616;
    box-shadow: 1px 1px 2px 0.01px rgba(0, 0, 0, 20);
    border-radius: 20px;
    font-size: 12px;
    padding-left: 5px;
    color: white;
}

article {
    padding-left: 20px;
}

article .username {
    padding-left: 0;
}

article p {
    margin: 0;
}

.friends_list {
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
}

.friends_list img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.friends_list p {
    padding-top: 10px;
    font-size: 12px;
}

.event_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event_info i {
    background: linear-gradient(to right, #44D7B6, #B620E0);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: none;
    margin-right: 10px;
    font-size: 24px;
}

.event_info i.active {
    display: block;
}

.comment_btn,
.input_btn,
.follow_btn {
    width: 70px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    opacity: 0.5;
}

.right_col {
    padding: 20px;
}

.profile_card,
.suggestion_card {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.profile_card .profile_picture {
    flex: 0 0 auto;
    padding: 0;
    background: none;
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.profile_card .profile_picture img {
    border: none;
    width: 70px;
    height: 70px;
}

.profile_card .username,
.suggestion_card .username {
    font-weight: 500px;
    font-size: 14px;
    color: white;
    margin-bottom: 0;
}

.profile_card .sub_text,
.suggestion_card .sub_text {
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.input_btn,
.follow_btn {
    opacity: 1;
    font-weight: 700;
    font-size: 12px;
}

.suggestion_card .suggestion_picture {
    flex: 0 0;
    padding: 0;
    background: none;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.suggestion_card .suggestion_picture img {
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.suggestion_text {
    font-size: 14px;
    color: white;
    font-weight: 700;
    margin: 20px 0;
}

@media (max-width:1100px) {

    .right_col {
        display: none;
    }

    .nav_wrapper,
    .wrapper {
        width: 90%;
    }

    .wrapper {
        display: block;
    }
}

@media (max-width: 500px) {

    .nav_items .icon {
        margin: 0 5px;
    }

    .post_image {
        height: 300px;
    }
}

@media (max-width: 700px) {
    .search_box {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .slide_container {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .main_container {
        margin-top: 0;
    }

    .box {
        border: 0;
    }
}