.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main_container {
    display: flex;
    flex-grow: 1;
}

.main_content {
    margin: 150px auto auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 930px;
    flex-grow: 1;
}

.slide_container {
    height: 620px;
    flex-basis: 450px;
}

.slide_content {
    margin: 100px 0 0 150px;
    position: relative;
}

.slide_container img {
    position: absolute;
    inset: 0;
    opacity: 0;
    visibility: hidden;
}

.slide_container img.active {
    opacity: 1;
    visibility: visible;
}

.form_container,
.slider_container {
    flex-grow: 1;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box {
    background-color: #161616;
    box-shadow: 2px 2px 4px 0.1px rgba(0, 0, 0, 20);
    border-radius: 15px;
}

.form_content,
.slider_content {
    margin-bottom: 10px;
    padding: 10px;
}

.form_content .logo {
    text-align: center;
    height: 50px;
    width: 50px;
    margin: 10px auto 20px auto;
    display: block;
}

.form_content .logo img {
    max-width: 100px;
}

.login_form {
    margin-top: 25px;
    margin-bottom: 10px;
}

.form_group {
    margin: 0 40px 6px;
}

.login_input {
    height: 35px;
    position: relative;
}

.login_input input {
    width: 100%;
    height: 100%;
    padding: 7px 7px 7px;
    border: 0;
    outline: 0;
    background: #161616;
    box-shadow: 2px 2px 4px 0.1px rgba(0, 0, 0, 20);
    border-radius: 15px;
    color: white;
    font-size: 12px;
}

.login_input input::placeholder {
    font-size: 12px;
    color: white;
    opacity: 0.5;
}

.btn_group {
    padding: 8px 40px;
    width: 100%;
}

.login_btn,
.register_btn {
    width: 100%;
    border-radius: 15px;
    outline: 0;
    border: none;
    background: linear-gradient(to right, #44D7B6, #B620E0);
    color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    padding: 5px 10px;
}

.icon_log {
    margin-left: 5px;
}

.or {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: white;
    opacity: 0.5;
}

.or hr {
    width: 35%;
    margin: 0 10px;
}

.or span {
    color: white;
}

.goto {
    padding: 10px;
    margin-bottom: 10px;
}

.goto p {
    font-size: 14px;
    margin: 15px;
    text-align: center;
    color: gray;
    opacity: 1;
}

.goto a {
    text-decoration: none;
    color: cyan;
    font-size: 14px;
    line-height: 10px;
    font-weight: 600;
    opacity: 1;
}

.app_download {
    display: flex;
    flex-direction: column;
}

.app_download p {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    margin: 10px 20px;
    color: white;
    opacity: 0.5;
}

.store_link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.store_link img {
    height: 40px;
}

.store_link a:nth-child(1) {
    margin-right: 8px;
}

/* Welcome */

.onboarding_container,
.onboarding_container * {
    box-sizing: border-box;
}

.onboarding_overlay {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 400ms ease;
}

.onboarding_overlay.active {
    opacity: 1;
}

.onboarding_container {
    z-index: 300;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, calc(-50% + 25px));
    box-shadow: 0 4px 40px -8px rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: all 100ms ease;
    pointer-events: none;
}

.onboarding_container.active {
    transform: translate(-50%, -50%);
    opacity: 1;
    pointer-events: all;
}

.onboarding_container .content {
    background: #161616;
    border-radius: 15px;
    max-width: 300px;
    padding-top: 24px;
    padding-bottom: 24px;
    overflow: hidden;
}

.onboarding_header {
    margin: 20px;
    text-align: center;
}

.onboarding_content {
    margin: 10px;
    text-align: center;
}

.onboarding_content p {
    margin-top: 20px;
}

.onboard_footer {
    margin: 10px;
    display: grid;
}

.onboarding_container .steps {
    display: flex;
    width: 300%;
}

.skip_btn {
    background-image: linear-gradient(to right, #44D7B6, #B620E0);
    margin-top: 10px;
    margin-left: 15px;
    border: none;
    padding: 5px 8px 5px 8px;
    border-radius: 50%;
}

.onboarding_container input {
    margin-left: 10px;
    margin-right: 0;
    background-color: #1f1f1f;
    width: 80%;
    border: none;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    padding-left: 10px;
}

.skip_btn_last {
    background-image: linear-gradient(to right, #44D7B6, #B620E0);
    margin: auto;
    border: none;
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
}

.onboarding_dots {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.onboarding_dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.2;
}

.onboarding_dot.active {
    background-image: linear-gradient(to right, #44D7B6, #B620E0);
    opacity: 100%;
}