@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: white;
}

*::placeholder {
    background: none;
    border: none;
}

* i {
    cursor: pointer;
}

* input {
    background: none;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 4px 0.1px rgba(0, 0, 0, 20);
}

body {
    width: 100%;
    background: #161616;
    position: relative;
    font-family: "Poppins", sans-serif;
}

*:focus {
    outline: none;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #161616;
    box-shadow: 2px 2px 4px 0.05px rgba(0, 0, 0, 20);
    display: flex;
    justify-content: center;
    padding: 5px 0;
    z-index: 2;
}

.nav_wrapper {
    width: 70%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_wive {
    height: 35px;
    margin-top: 0px;
    cursor: pointer;
}

.search_form {
    margin-bottom: 20px;
}

input {
    color-scheme: dark;
}

.search_box {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 200px;
    height: 25px;
    background: #161616;
    border-radius: 15px;
    border: none;
    box-shadow: 2px 2px 4px 0.1px rgba(0, 0, 0, 20);
    color: white;
    text-align: left;
    padding-left: 10px;
    line-height: 1.6px;
    font-size: 12px;
    text-transform: capitalize;
}

.nav_items {
    height: 22px;
    position: relative;
}

.nav_items img {
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
    background: linear-gradient(to right, #44d7b6, #B620E0) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
    object-fit: cover;
}

.icon {
    height: 100%;
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
    color: white;
}

.user_profile {
    width: 22px;
    border-radius: 50%;
}

.footer {
    padding-bottom: 52px;
    padding-top: 25px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    opacity: 0.5;
    line-height: 18px;
    margin: 0 8px 12px 8px;
}

.copyright {
    padding: 12px 0;
    color: white;
    opacity: 0.8;
    line-height: 18px;
    font-size: 12px;
    text-align: center;
}

/* Gallery */

@media screen and (max-width: 800px) {

    .profile:after {
        display: none;
    }

    .profile_btn {
        display: none;
    }

    .profil_user_settings,
    .profile_stats,
    .profile_bio,
    .profile_user_name {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .profile_image,
    .profile_user_settings,
    .profile_bio,
    .profile_stats {
        float: none;
        width: auto;
        margin: 5px auto;
    }

    .profile_stats li {
        display: block;
    }

    .profile_image {
        margin: 0 auto;
    }

    .profile_user_name {
        font-size: 20px;
    }
}